h1,h2,h3,h4,h5,h6,p{
    font-family: 'Nunito', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    color: #008CCC
}


.navbar-default{
    background-color: #008CCC;
}

.navbar-brand{
    color: white;
}

.navbar-default .navbar-nav > li > a{
    color: white;
}

/* Jumbotron */
#carousel-example-generic{
    margin-top: 50px;
    height: 450px;
    background-size:: 100%;
    text-align: center;
}

#carousel-background{
    height: 450px;
    width: 100%;
    background-image: url('image/20090305-DominiqueReyes0040.jpg');
    background-position: 50% 40%;
    text-align: left;
}

#carousel-background .container h1{
    color:#ffd100;
    font-size: 15vh;
    font-weight: 700;
    text-shadow: 1px 1px white;
    margin-top: 30px;
}

#carousel-background .container h2{
    color:#ffd100;
    font-size: 10vh;
    font-weight: 100;
    text-shadow: 1px 1px white;
    margin-top: -10px;
}
/* Row */
.row{
    margin-top: 50px;
    margin-bottom: 50px;
}
/* secciónheaders */
.seccionheader h1{
    font-size: 8vh;
    color: #008CCC;
    margin-bottom:35px;
}

.seccionheader h2{
    font-size: 6vh;
    color: #008CCC;
    margin-bottom:35px;
    text-transform: uppercase;
}


/* Círculos*/
.quehacemos{
    text-align: center;
}

.circle{
    height: 150px;
    width: 150px;
    background-color: #ffd100;
    border-radius: 50%;
    margin: auto;
    margin-top:35x

    
}

.text h2{
    text-align: center;
    padding-bottom: 50px;
}

/* tituloscontainer */


/* Thumbnails noticias*/
.thumbnail{
    height:210px; 
}

/* Footer */
footer{
    background-color: #008CCC;
    height: 300px;
    color: white;
}

footer ul{
    list-style: none;
    padding: 0;
}

.redes li{
    display: inline-block;
    padding: 10px 10px 0 0;
}
