
.navbar-default{
    background-color: #008CCC;
}

.navbar-brand{
    color: white!important;
}

.navbar-nav > li > a{
    color: white!important;
}

/* Jumbotron */

#carousel-example-generic{
    text-align: center;
    background-position: center;
    height: 450px;
    margin-top: 50px;
}

/* Footer */
footer{
    background-color: #008CCC;
    height: 300px;
    color: white;
}

footer ul{
    list-style: none;
}