
.navbar-default{
    background-color: #008CCC;
}

.navbar-brand{
    color: white;
}

.navbar-default .navbar-nav > li > a{
    color: white;
}

/* Jumbotron */
#carousel-example-generic{
    margin-top: 50px;
    height: 450px;
    background-size:: 100%;
    text-align: center;
}

#carousel-background{
    height: 450px;
    width: 100%;
    background-image: url('image/20090305-DominiqueReyes0040.jpg');
    background-position: 50% 40%;
    text-align: left;
}

#carousel-background .container h1{
    color:#ffd100;
    font-size: 5vh;
    font-weight: 900;
    text-shadow: white;
    text-transform: uppercase;
}

#carousel-background .container h1{
    color:#ffd100;
    font-size: 20vh;
    font-weight: 300;
    text-shadow: white;
    text-transform: uppercase;
}



/* Thumbnails noticias*/
.thumbnail{
    height:280px; 
}

/* Footer */
footer{
    background-color: #008CCC;
    height: 300px;
    color: white;
}

footer ul{
    list-style: none;
    padding: 0;
}

.redes li{
    display: inline-block;
    padding: 10px 10px 0 0;
}
